@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #a03eff;
  --color-secondary: #ff73c1;
  --color-primary-light: #ffffff;
  --color-primary-dark: #0c0a09;
}
