@import 'tailwindcss';
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background like in your image */
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Light gray thumb */
  border-radius: 9999px;
  border: 2px solid #1a1a1a; /* Optional: spacing around thumb */
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #1a1a1a;
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #a03eff;
  --color-secondary: #ff73c1;
  --color-primary-light: #f2f2f2;
  --color-primary-dark: #0f0f0f;
}

@layer utilities {
  .bg-primary-gradient {
    background-image: linear-gradient(
      to bottom right,
      var(--color-primary),
      var(--color-secondary)
    );
  }

  .bg-primary-gradient-80 {
    background-image: linear-gradient(
      to bottom right,
      color-mix(in srgb, var(--color-primary) 80%, transparent),
      color-mix(in srgb, var(--color-secondary) 80%, transparent)
    );
  }

  .text-primary-gradient {
    background-image: linear-gradient(
      to bottom right,
      var(--color-primary),
      var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block; /* important */
  }

  .dropdown-item {
    @apply flex items-center gap-3 px-4 py-4 text-sm text-neutral-700 dark:text-neutral-200 hover:bg-neutral-200 dark:hover:bg-neutral-700 transition;
  }

  /* --- Reusable UI Utilities --- */
  .card-base {
    @apply rounded-2xl hover:shadow-lg p-4 bg-white dark:bg-neutral-900 border border-neutral-300 dark:border-neutral-700;
  }

  .input-base {
    @apply w-full p-2 rounded-lg border border-neutral-300 dark:border-neutral-700 bg-transparent focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .action-btn {
    @apply flex items-center gap-1 px-2 py-1 rounded hover:bg-neutral-200 dark:hover:bg-neutral-800 transition;
  }

  .primary-btn {
    @apply px-4 py-2 rounded-lg bg-blue-500 text-white font-medium hover:bg-blue-600 transition;
  }
}
